html,
body {
  font-family: Roboto, sans-serif;
  box-sizing: border-box;
  max-width: 100vw;
  margin: 0;
}

main {
  width: 98%;
  margin: 0 auto;
}

.table-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  margin-bottom: 7px;
  background-color: rgb(232, 234, 245);
  height: 50px;
}

.t-cell {
  width: 250px;
  font-size: 15px;
}

.t-cell_short {
  width: 150px;
}

.name-col {
  display: flex;
  justify-content: flex-start;
  font-weight: 600;
  padding-left: 10px;
}

.name-col span {
  margin-left: 5px;
}

.head-cell {
  color: white;
  font-weight: 700;
  font-size: 18px;
  padding-left: 4px;
}

.head {
  height: 35px;
  background-color: rgb(153, 153, 153);
}

#name-cell {
  margin-left: 5px;
}

.wrapper {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: end;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(99, 95, 95, 0.548);
  z-index: 100;
}

.modal-content {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  background-color: white;
  border-radius: 6px;
  padding: 20px;
}

.modal-header {
  margin: 0 auto;
  width: 90%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

form {
  margin: 0 auto;
  display: flex;
  width: 90%;
  flex-direction: column;
}

input {
  padding-left: 3px;
  margin-bottom: 15px;
  width: 100%;
  height: 20px;
}

.form-footer {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 14px;
}

.btn-submit {
  outline: none;
  border: none;
  background-color: lightgreen;
  cursor: pointer;
  padding: 7px;
  border-radius: 6px;
}

#btn-create {
  cursor: pointer;
  padding: 5px;
}

.icons-block {
  display: flex;
  justify-content: space-between;
  width: 100px;
  margin-right: 5px;
}

.head-icons {
  justify-content: end;
  align-items: center;
  padding: 5px 4px 0 0;
}

.icons-block span {
  padding-left: 10px;
  cursor: pointer;
}

.fi-ss-trash,
.fi-ss-pencil,
.fi-ss-folder-download {
  color: rgba(99, 96, 96, 0.623);
  font-size: 20px;
}

.fi-rs-folder-download,
.fi-rs-trash {
  color: white;
  font-size: 20px;
}
